.logo-template {
    width: 500px;
    background-color: #888888;
    display: inline-block;
    /* display: grid;
    grid-template-columns: 100px 350px auto; */
}

.logo-template > div {
    display: inline-block;
    height: 100%;
}

.logo-info {
    /* width: 50px; */
    /* line-height: 100px; */
    text-align: center;
    /* vertical-align: middle; */
}

.empty-logo {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
}

.logo-template button {
    display: block;
    /* margin-bottom: 10px; */
}